In [1]:
def add(x):
    return(x+10)

add(10)   # 20

20

In [2]:
def add(x):
    summ1=x+10
    return(summ1)

add(20)

30

In [ ]:
- how many arguments : only one x

- calcualting: x+10

In [ ]:
def add(x):
    return(x+10)

add(10)


def add(x):
    summ1=x+10
    return(summ1)

add(20)

# how many arguments
# what is the output

In [3]:
add=lambda num:num+10
add(20)

30

In [ ]:
def mul(num):
    return(num*num)

In [4]:
mul=lambda num:num*num
mul(5)

25

In [5]:
mul=lambda num:num*num*num
mul(3)

27

$two-arguments$

In [6]:
def sum1(a,b):
    return(a+b)

sum1(10,20)

# how many arguments 2 arguments

30

In [7]:
sum1=lambda a,b:a+b
sum1(100,200)

300

In [9]:
# find the average using 3 numbers
avg=lambda a,b,c:(a+b+c)/3
avg(100,200,300)

200.0

In [ ]:
def avg(a,b,c=500):
    return(a+b+c/3)

avg(200,300)

In [10]:
# find the average using 3 numbers
avg=lambda a,b,c=500:(a+b+c)/3
avg(100,200)

266.6666666666667

In [11]:
def greater(num1,num2):
    if num1>num2:
        return(num1)
    else:
        return(num2)
greater(100,20)

100

In [12]:
greater1=lambda num1,num2:num1 if num1>num2 else num2
greater1(100,500)

500

In [ ]:
[num1 if num1>num2 else num2]

In [17]:
# list of values

list1=['hyd','mumbai','delhi']

# output: list2=['Hyd','Mumbai','Delhi']

# step-1: iterate through a list
res=[]
for i in list1:
    res.append(i.capitalize())
    
res

['Hyd', 'Mumbai', 'Delhi']

In [18]:
res1=[i.capitalize() for i in list1]
res1

['Hyd', 'Mumbai', 'Delhi']

$map$

In [20]:
res=[]
for i in list1:
    res.append(i.capitalize())
    
res


def cap(list1):
    res=[]
    for i in list1:
        res.append(i.capitalize())
    return(res)
    
cap(['a','b','c'])

['A', 'B', 'C']

In [29]:
list1=['hyd','mumbai','delhi']
list(map(lambda i:i.capitalize(),list1))

# list(map(lambda <input>:<output>,list1))

['Hyd', 'Mumbai', 'Delhi']

In [30]:
tuple(map(lambda i:i.capitalize(),list1))

('Hyd', 'Mumbai', 'Delhi')

In [28]:
list([1,2,3])

[1, 2, 3]

In [31]:
list1=[1,2,3,4,5]
list(map(lambda i: i*i,list1))

[1, 4, 9, 16, 25]

In [32]:
[i*i for i in list1]

[1, 4, 9, 16, 25]

In [ ]:
list1=['Apple','Ball','Bat','Cat']
# len(items)>3
# output : ['Apple','Ball']

In [34]:
len('Apple')

5

In [36]:
list1=["apple","ball","cat"]
#res = [i for i in list1 if len(i)>3]
#res

res=[]
for i in list1:
    if len(i)>3:
        res.append(i)

In [37]:
[i for i in list1 if len(i)>3]

['apple', 'ball']

In [ ]:
# capitalize === > direct operation   ====== > map
# len ====== > condition ====> result ====== > filter

In [41]:
list(filter(lambda i: len(i)>3,list1))

['apple', 'ball']

In [ ]:
list(filter(lambda i: <condition>,list1))

In [42]:
list1=['apple','bal#l','cat','d#g']
# output: ['bal#l','d#g']
for i in list1:
    if '#' in i:
        print(i)

bal#l
d#g

In [43]:
list(filter(lambda i:'#' in i,list1))

['bal#l', 'd#g']

In [ ]:
# practice
# one argument
# two arguments
# if-else conditon
# list1 ==== direct operation ===== map
# list ===== conditions ========= filter