In [ ]:
- Strings conecpt is completed ===== > Today you will get an assignemnt on Strings

- Basic syntax

- type

- len

- max

- min

- concatination

- mutable vs immutable

- methods

In [1]:
list1=[1,2,3,4]

In [2]:
type(list1)

list

In [3]:
list2=['Apple','Ball','Bat']
list2

['Apple', 'Ball', 'Bat']

In [4]:
list3=[1,2,3,4,'Apple','Ball','Bat','10.5',10.5,10+20j]
list3

[1, 2, 3, 4, 'Apple', 'Ball', 'Bat', '10.5', 10.5, (10+20j)]

In [5]:
list4=[1,2,3,4,['A','B','C']]
list4

[1, 2, 3, 4, ['A', 'B', 'C']]

In [6]:
list5=[100,100,100]
list5

[100, 100, 100]

- list values are in square brackets seperated by comma

- list can have any type of values, heterogeneous type can be allowed

- list inside list also possible

- list can have dupilcates

In [7]:
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4]
['Apple', 'Ball', 'Bat']
[1, 2, 3, 4, 'Apple', 'Ball', 'Bat', '10.5', 10.5, (10+20j)]

$max$

In [8]:
max(list1)

4

In [9]:
max(list2)

'Bat'

In [10]:
max(list3) 
# it will give an error
# we are comparing different data types

TypeError: '>' not supported between instances of 'str' and 'int'

In [11]:
max(list4)

TypeError: '>' not supported between instances of 'list' and 'int'

In [13]:
list4  # [int,int,int,int,list]

[1, 2, 3, 4, ['A', 'B', 'C']]

In [12]:
max(list5)

100

$Min$

In [14]:
min(list1)

1

In [15]:
min(list2)

'Apple'

In [16]:
min(list5)

100

In [17]:
list1+list2

[1, 2, 3, 4, 'Apple', 'Ball', 'Bat']

In [18]:
list1=[1,2,3,4]
list2=[11,22,33,44]
list1+list2  # 1+11, 2+22,3+33,4+44 --- > this will not happend

[1, 2, 3, 4, 11, 22, 33, 44]

In [19]:
list2+list1

[11, 22, 33, 44, 1, 2, 3, 4]

In [ ]:
list1*list2  # error
list1/list2  # error
list1-list2  # error

# same as strings concept

$length$:

In [29]:
print(list1)
len(list1)

[1, 2, 3, 4]

4

In [31]:
print(list3)
len(list3)

[1, 2, 3, 4, 'Apple', 'Ball', 'Bat', '10.5', 10.5, (10+20j)]

10

$index$:

In [24]:
list2

[11, 22, 33, 44]

In [26]:
# 11 22 33 44
# 0  1  2  3
print(list2[0])
print(list2[1])
print(list2[2])
print(list2[3])

11
22
33
44

In [27]:
str1='python'
for i in range(0,len(str1)):
    print(str1[i],end=' ')

p y t h o n

In [35]:
# print the list2 values using for loop
print(len(list2)) #4
for i in range(0,len(list2)): # range(0,4) start=0 dir=post gap=1 last=4-1=3
    print(i,list2[i])

4
0 11
1 22
2 33
3 44

$in$

In [36]:
print(list2)

[11, 22, 33, 44]

In [38]:
11 in list2
22 in list2
33 in list2
44 in list2

# i in list2

True

In [39]:
list2=[11,22,33,44]
for i in list2:
    print(i,end=" ")

11 22 33 44

In [40]:
list4
# retrive the index of 'A'

[1, 2, 3, 4, ['A', 'B', 'C']]

In [56]:
list12=[1,2,3,4,'A']
# what is the index of 'A'?
list12[4]

'A'

In [ ]:
[1, 2, 3, 4, ['A', 'B', 'C']]
 0  1  2  3  -------4------

In [46]:
new_list=list4[4]
new_list[0]

'A'

In [49]:
list4[4][0]  # new_list[0]

'A'

In [50]:
list4[4][1]

'B'

In [53]:
len(list4[4])

3

In [55]:
list11=[1,2,3,4,[[[[['A','B',[100]]]]]]]
list11

[1, 2, 3, 4, [[[[['A', 'B', [100]]]]]]]

In [ ]:
# retrive the index of 100

In [58]:
list11[4] # [100,200]

[[[[['A', 'B', [100]]]]]]

In [ ]:
[50,[50]]  # [[50]]

In [ ]:
[50]  # 1
[[50]] # 1
[[[50]]]  #1

In [61]:
list1=[[[50]]]
list1[0][0][0]

50

In [62]:
list11=[1,2,3,4,[[[[['A','B',[100]]]]]]]
list11 
# how many values are there : 5---->0 1 2 3 4

[1, 2, 3, 4, [[[[['A', 'B', [100]]]]]]]

In [72]:
list11[4][0][0][0][0][2][0]

100

In [66]:
a=[[50,50]]
a[0][0]

50

In [ ]:
[1, 2, 3, 4, ['A', 'B', 'C']]

In [73]:
list22=['A','B','C',[100,200,[300,400,[500,600,[700]]]]]
# retrive the index of 700 
# 3 2 2 2 0

In [79]:
list22[3][2][2][2][0]

700

In [ ]:
# jsons
# list in list
# matrix
# numpy

$mutable$-$immutable$

In [80]:
list1=[1,200,300]
list1

[1, 200, 300]

In [81]:
# i want to change 1 to 100 by using index values
list1[0]

1

In [82]:
list1[0]=100

In [83]:
list1

[100, 200, 300]

In [84]:
list2=['A',100,'C']
list2[1]='B' # 100 --- > B 
list2

['A', 'B', 'C']

In [ ]:
list3=['HYd','Mum#ai','Chennai','Bengalu#ru']
# print the value in list which are having #
# 'Mumb$ai','Bengalu#ru']

# step-1: iterate the list3 values ======>for loop
# step-2: apply the condition if '#' is there in that values === > if

In [86]:
list1 = ['Hyd', 'Mumb#ai','Chennai','Surat']
for i in list1:
    if '#'in i:
        print(i)

Mumb#ai

In [87]:
'a' in 'pple a'

True

In [89]:
list1=[100,200,300,400,1,2,3,4]
# print the even values
# step-1: iertae through list
# step-2: if condition
for i in list1:
    if i%2==0:
        print(i,end=' ')

100 200 300 400 2 4

In [ ]:
list3=['HYd','Mum#ai','Chennai','Bengalu#ru','delhi']
# print the values whose length<=4

In [90]:
list1 = ['Hyd', 'Mumb#ai','Chennai','Surat']
count=0
for i in list1:
    if '#'in i:
        print(i)
        count+=1
        
print(count)

Mumb#ai
1

In [93]:
list1=[100,200,300,400,1,2,3,4]
count=0
for i in list1:
    if i%2==0:
        print(i,end=' ')
        count+=1
print("====================")
print(count)

100 200 300 400 2 4 ====================
6

In [ ]:
list3=['HYd','Mum#ai','Chennai','Bengalu#ru','delhi']
# print the values whose length<=4

$Methods$

In [94]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [95]:
dir([1,2,3])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$append$

In [96]:
list1=[]
list1

[]

In [97]:
list1.append(100)

In [98]:
list1

[100]

In [99]:
list1.append(200)
list1  #[100,200]

[100, 200]

In [101]:
list2=['A','B']
list2.append('C')  # shift + tab
list2.append('D') 
list2.append(100)
list2

['A', 'B', 'C', 'D', 100]

In [104]:
list3=['Hyd','Mumbai','Nagpur','delhi']
for i in list3:
    if len(i)<=3:   # len('hyd')  ==== >  number
        print(i)

Hyd

In [105]:
# will save results
list1 = ['Hyd', 'Mumb#ai','Chennai','Surat']
res=[]
for i in list1:
    if '#'in i:
        res.append(i)
        
print(res)

['Mumb#ai']

In [106]:
list1=[100,200,300,400,1,2,3,4]
res1=[]
for i in list1:
    if i%2==0:
        res1.append(i)

res1

[100, 200, 300, 400, 2, 4]

In [108]:
list3=['Hyd','Mumbai','Nagpur','delhi']
res3=[]
for i in list3:
    if len(i)<=3:   # len('hyd')  ==== >  number
        res3.append(i)
res3

['Hyd']

$List$-$Comprehenshion$

In [ ]:
# you can write a list solution in a single line
# will save results
list1 = ['Hyd', 'Mumb#ai','Chennai','Surat']
res=[]
for i in list1:
    if '#'in i:
        res.append(i)
        
print(res)

#########################################################
# In order to save the results we intialise an empty list
# what ever the solution for loop and if condition
# will imlement inside the list
# so that there is no append

[i for i in list1 if '#' in i]

In [2]:
list1 = ['Hyd', 'Mumb#ai','Chennai','Surat']
res=[i for i in list1 if '#' in i]
res
# with one if condition
# [<output_variable> <forloop> <ifconditon>]

['Mumb#ai']

In [3]:
list1=[100,200,300,400,1,2,3,4]
res1=[i for i in list1 if i%2==0]
res1

[100, 200, 300, 400, 2, 4]

In [4]:
list3=['Hyd','Mumbai','Nagpur','delhi']
res=[i for i in list3 if(len(i)<=3)]
res

['Hyd']

In [5]:
list4=[100,20,30,40,50,60,70]
# if a number > 50 Grade A
# else grade B
# [A, B, B, B, B, A, A]
for i in list4:
    if i>50:
        print("A")
    else:
        print("B")

A
B
B
B
B
A
A

In [6]:
list4=[100,20,30,40,50,60,70]
res4=[]
for i in list4:
    if i>50:
        res4.append("A")
    else:
        res4.append("B")
        
res4

['A', 'B', 'B', 'B', 'B', 'A', 'A']

In [7]:
list4=[100,20,30,40,50,60,70]
res4=["A" if i>50 else "B" for i in list4]
res4

# [<if output> <ifcondition> else <else_op> <forloop>]

['A', 'B', 'B', 'B', 'B', 'A', 'A']

In [8]:
list1=[100,200,300,400,1,2,3,4]
res1=[]
for i in list1:
    if i%2==0:
        res1.append('even')
    else:
        res1.append('odd')

res1

['even', 'even', 'even', 'even', 'odd', 'even', 'odd', 'even']

In [9]:
list1

[100, 200, 300, 400, 1, 2, 3, 4]

In [10]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$clear$

In [11]:
list1.clear()

In [12]:
list1

[]

In [14]:
list3

['Hyd', 'Mumbai', 'Nagpur', 'delhi']

$pop$-$remove$

In [ ]:
list3.pop()

In [15]:
list3.remove('delhi')
# the results will save in a same list

In [16]:
list3

['Hyd', 'Mumbai', 'Nagpur']

In [17]:
list3.pop()
# pop will take one argument : index
# if i not provide the argument: default index value =-1
# so it will delete the last value
# It will return the value which is deleted

'Nagpur'

In [18]:
list3

['Hyd', 'Mumbai']

In [19]:
list1=[100,200,300,400,500,600,700,800,900]
list1

[100, 200, 300, 400, 500, 600, 700, 800, 900]

$index$

In [22]:
# I want to remove 400 using pop operation
# you know index of 400 is 3
# index output provided as first occurence
index_400=list1.index(400)
list1.pop(index_400)

400

In [25]:
list1.append(400)
list1.append(500)
list1.append(400)
list1

[100, 200, 300, 500, 600, 700, 800, 900, 400, 400, 500, 400]

In [27]:
# get me the index of second occurence of 400
list1
# first you will find index of first 400: 7
first=list1.index(400,0)
print("first index:",first)
# second 400 i can find after 7 only
second=list1.index(400,first+1)
print("second index:",second)
# Thisr 400
third=list1.index(400,second+1)
print("third index:",third)
# Fourth 400
Fourth=list1.index(400,third+1)
print("third index:",Fourth)

first index: 8
second index: 9
third index: 11

ValueError: 400 is not in list

In [29]:
str1='python python pythhon'
first=str1.find('p')
second=str1.find('p',1+first)
third=str1.find('p',1+second)
fourh=str1.find('p',1+third)
print(first,second,third,fourh)

0 7 14 -1

In [30]:
list1

[100, 200, 300, 500, 600, 700, 800, 900, 400, 400, 500, 400]

In [31]:
list1.pop(1000)

IndexError: pop index out of range

In [32]:
list1.remove(1000)

ValueError: list.remove(x): x not in list

In [33]:
list1.index(1000)

ValueError: 1000 is not in list

$Copy$:

In [35]:
list11=list1.copy()
print(list11)
print(list1.clear())

[100, 200, 300, 500, 600, 700, 800, 900, 400, 400, 500, 400]
None

$Count$:

In [37]:
count=0
for i in list11:
    if i==400:
        count+=1
        
print(count)

3

In [38]:
list11.count(400)

3

In [39]:
list22=list11.copy()
list33=list11.copy()
print(list22)
print(list33)

[100, 200, 300, 500, 600, 700, 800, 900, 400, 400, 500, 400]
[100, 200, 300, 500, 600, 700, 800, 900, 400, 400, 500, 400]

In [40]:
dir(list11)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$Extend$:

- Extend the two lists
- take list1 and list2
- list1 extended by list2
- list1.extend(list2)

In [41]:
list1=[1,2,3]
list2=['A','B','C']
list1.extend(list2) # [1,2,3,'A','B','C']
# the ouput will save in list1
list2.extend(list1) # ['A','B','C',1,2,3,'A','B','C']
# the output will save in list2
print(list1)
print(list2)

[1, 2, 3, 'A', 'B', 'C']
['A', 'B', 'C', 1, 2, 3, 'A', 'B', 'C']

In [43]:
list1=[1,2,3]
list2=['A','B','C']
list2.extend(list1)
list2

['A', 'B', 'C', 1, 2, 3]

In [44]:
list3=list1+list2

[1, 2, 3, 'A', 'B', 'C', 1, 2, 3]

$Insert$

In [51]:
list11
# At 3rd index we want insert 'APPLE'
list11.insert(3,'Apple')

In [52]:
list11

[100, 200, 300, 'Apple', 500, 600, 700, 800, 900, 400, 400, 500, 400]

In [54]:
list11.insert(4,['A','B'])
list11

[100,
 200,
 300,
 'Apple',
 ['A', 'B'],
 500,
 600,
 700,
 800,
 900,
 400,
 400,
 500,
 400]

$reverse$

In [55]:
list22

[100, 200, 300, 500, 600, 700, 800, 900, 400, 400, 500, 400]

In [56]:
list22.reverse()

In [57]:
list22

[400, 500, 400, 400, 900, 800, 700, 600, 500, 300, 200, 100]

In [58]:
string1='python'
string1[::-1]

'nohtyp'

In [59]:
1)list22[2:10:3]     # P
2)list22[2:10:-3]    # NP
3)list22[2:-10:-3]   # P
4)list22[-2:-10:-3]  # P
5)list22[-2:10:3]    # P
6)list22[-2:10:-3]   # NP
7)list22[-2:-10:3]   # NP

200

In [60]:
list22[::-1]

[100, 200, 300, 500, 600, 700, 800, 900, 400, 400, 500, 400]

$Sort$

In [61]:
# Sort providinf order
# either ascending or descending
# what is default method: ascending
# can i provide descending

list22.sort()  # default reverse=False ==== > acsending order
list22         # results will save in list22

[100, 200, 300, 400, 400, 400, 500, 500, 600, 700, 800, 900]

In [63]:
list22.sort(reverse=True) # reverse =True will give descending order
list22

[900, 800, 700, 600, 500, 500, 400, 400, 400, 300, 200, 100]

In [64]:
list1=[100,500,700,50,'A','Z','a','y']
list1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [67]:
sorted(list33)
# min()
# max()
# len()

[100, 200, 300, 400, 400, 400, 500, 500, 600, 700, 800, 900]

In [68]:
list33

[100, 200, 300, 500, 600, 700, 800, 900, 400, 400, 500, 400]

In [ ]:
list33.sort()  # the result will save in list33

# sorted vs sort
# sorted is a key word
# sort is a list method
# sort will give the flexibility to save the results in variable itslef
# but when apply sorted we need to save the results in a new variable

In [70]:
string1='hai how are you'
res1=string1.split()
res1

['hai', 'how', 'are', 'you']

In [74]:
# res1 it is list
'*'.join(res1)   # res1.join()

# sorted()
# join()
# str.<methods>
# list.<methods>

'hai*how*are*you'

In [75]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1.split()

In [78]:

list1=['Ram','Sita','laxman'] # i
list2=[25,22,20] #j
for i,j in zip(list1,list2):
    print(i,j)
    
# RAM   25
# Sita   22
# Laxman 20

Ram 25
Sita 22
laxman 20

In [81]:
list1=[100,200,300]  # i
list2=[50,60,70]     #j

#list3=[150,260,370]  # i+j

# M-1:
list3=[]
for i,j in zip(list1,list2):
    list3.append(i+j)
list3

[150, 260, 370]

In [82]:
# M-2
list3=[i+j for i,j in zip(list1,list2)]
list3

[150, 260, 370]

In [ ]:
# 1. String
# 2. Certification
# 3. Tommorrow