$String$ $to$ $other$ $data$ $types$

In [1]:
str1='python'    # python is a english letter ====== maths

# str to int
# str to float
# str to complex

int(str1)

ValueError: invalid literal for int() with base 10: 'python'

In [2]:
float(str1)

ValueError: could not convert string to float: 'python'

In [3]:
complex(str1)

ValueError: complex() arg is a malformed string

In [4]:
bool(str1)

True

In [5]:
str2='p'   # p is one character
str3=''    # empty string
bool(str3)

False

**Note**

- if string is a normal english word

- when we apply boolean type casting the answer is True

- if string is empty, then boolean type casting is False

In [17]:
str4='10'     # here string is  a number
int_str4=int(str4)
print("'{}' integer conversion is {}.".format(str4,int_str4))
float_str4=float(str4)
print("'{}' float conversion is {}".format(str4,float_str4))
bool_str4=bool(str4)
print("'{}' boolean conversion is {}".format(str4,bool_str4))
complex_str4=complex(str4)
print("'{}' complex conversion is {}".format(str4,complex_str4))

'10' integer conversion is 10.
'10' float conversion is 10.0
'10' boolean conversion is True
'10' complex conversion is (10+0j)

- str4='10.5'     # here string is  a number type: float

- int_str4=int(str4) # 10

- print("'{}' integer conversion is {}.".format(str4,int_str4))

#### check-1: if string is a number ==== > yes
#### check-2: what is the type of a number that inside string
         : if it is integer str1='10'
           str to float conversion possible
            
#### check-3: if it is a float     ex: str1='10.5'
           str to int conversion not possible

In [19]:
str4='10.5'     # here string is  a number
#int_str4=int(str4) # 10
#print("'{}' integer conversion is {}.".format(str4,int_str4))

float_str4=float(str4) # 10.5
print("'{}' float conversion is {}".format(str4,float_str4))
bool_str4=bool(str4)   # True
print("'{}' boolean conversion is {}".format(str4,bool_str4))
complex_str4=complex(str4)
print("'{}' complex conversion is {}".format(str4,complex_str4))

'10.5' float conversion is 10.5
'10.5' boolean conversion is True
'10.5' complex conversion is (10.5+0j)

**Note**

- if string is a normal english word

- when we apply boolean type casting the answer is True

- if string is empty, then boolean type casting is False

- if string has float number , str to int conversion will fail

- complex()  : 0j   real=0,imag=0

- complex(10) : 10+0j 

- complex(10+5j) : 10+5j

In [ ]:
# bin,oct,hex

binary=0b111
int(binary)
float(binary)
str(binary)
complex(binary)
oct(binary)
hex(binary)

octal=0o567
int(octal)
float(octal)
str(octal)
complex(octal)
bin(octal)
hex(octal)


hexa=0xabc
int(hexa)
float(hexa)
str(hexa)
complex(hexa)
oct(hexa)
bin(hexa)

In [21]:
a=10
b=20
c=a+b
print("the value of a is:",a)
print("the value of a is:",b)
print("the value of a is:",c)

the value of a is: 10
the value of a is: 20
the value of a is: 30

In [22]:
# in the code i want to two print two statements
print("the value of a is:",a)
print("the value of a is:",b)

the value of a is: 10
the value of a is: 20

In [ ]:
the value of a is: 10 the value of a is: 20

$end$:

In [27]:
print("the value of a is:",a,end='')
print("the value of a is:",b)

the value of a is: 10the value of a is: 20

In [36]:
print("hai",end=' ')
print("how",end=' ')
print("are")

# hai how are
#print('hai how are')

hai how are

In [39]:
# take 4 print statements
#hai
#how
#are
#you

# hai ---> how ---> are ----> you

print('hai',end='-->')
print('how',end='-->')
print('are',end='-->')
print('you')

hai-->how-->are-->you

In [38]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

$sep$

In [42]:
print("hai","how","are","you",sep='--->')
# hai---->how ----> are -----> you
# in this print statements 4
print(10,20)

hai--->how--->are--->you
10 20

In [43]:
print('A')
print('B')
print('C')

A
B
C

In [45]:
#ABC
print('A',end='')
print('B',end='')
print('C')

ABC

In [47]:
print('A','B','C',sep='')

ABC

In [50]:
print("python","good",sep=' is ')

python is good

In [51]:
"python is good"
print("python {} good".format('is'))

python is good

In [56]:
print("python {} good".format('is'))
str1='is'
print("python {} good".format(str1))

python is good
python is good

In [55]:
print("python","good",sep=' is ')
str1=' is '
print("python","good",sep=str1)

python is good
python is good

- format

- sep

- end

In [57]:
# WAP sum of two numbers
a=10
b=20
c=a+b
print(c)

30

In [58]:
a,b=10,20
print(a) # a=10
print(b) # b=20

10
20

In [59]:
a=10,20
a

(10, 20)

In [60]:
# ask the user to enter a number
input()

20

'20'

In [61]:
a=10
a

10

In [64]:
a=input()
print("the type of a is:",type(a))
b=input()
print("the type of b is:",type(b))
c=a+b
print(c)

# step-1: you need to enter some value === a
# step-2: you need to enter some value ==== b
# step-3: you are adding a and b
# step-4: printing(c)

50
the type of a is: <class 'str'>
50
the type of b is: <class 'str'>
5050

In [65]:
'50'+'50'

'5050'

In [63]:
a=50
type(a)

int

In [ ]:
num1=int(input("enter a value num1:"))
num1=int('30')

In [69]:
num1=input("enter a value num1:") # type string
num2=input("enter a value num2")
add=num1+num2
print(add)

enter a value num1:100
enter a value num2200
100200

In [71]:
#m-1
num1=int(input("enter a value num1:")) # type string
num2=int(input("enter a value num2"))
add=num1+num2
print("the value of {} and {} is {}".format(num1,num2,add))

enter a value num1:100
enter a value num2200
the value of 100 and 200 is 300

In [72]:
#m-2
num1=input("enter a value num1:")           # type string ='10'
num2=input("enter a value num2")            # '20'
add=int(num1)+int(num2)                     # int('10')+int('20') ===> 10+20
print("the value of {} and {} is {}".format(num1,num2,add))

enter a value num1:100
enter a value num2200
the value of 100 and 200 is 300

In [76]:
#m-1
num1=float(input("enter a value num1:")) # first line can be int/float
num2=int(input("enter a value num2"))    # second int only
add=num1+num2
print("the value of {} and {} is {}".format(num1,num2,add))

enter a value num1:10.5
enter a value num220
the value of 10.5 and 20 is 30.5

$eval$

In [77]:
#m-1
num1=eval(input("enter a value num1:")) # type string
num2=eval(input("enter a value num2"))
add=num1+num2
print("the value of {} and {} is {}".format(num1,num2,add))

enter a value num1:10.5
enter a value num210
the value of 10.5 and 10 is 20.5

In [82]:
input("enter a value num1:")

enter a value num1:python

'python'

In [83]:
# WAP ask the user enter two numbers
# find the average of those two numbers
# (num1+num2)/2
num1=eval(input("enter a numer"))
num2=eval(input("enter a nmber"))
sum1=(num1+num2)/2
print(sum1)

enter a numer100
enter a nmber200
150.0

In [ ]:
#m-1
a=eval(input("enter a value num1:")) # type string
b=eval(input("enter a value num2"))
c=a+b
print("the value of {} and {} is {}".format(a,b,c))


class i will be present : 7.15am