In [ ]:
- Strings conecpt is completed ===== > Today you will get an assignemnt on Strings

- Basic syntax

- type

- len

- max

- min

- concatination

- mutable vs immutable

- methods

In [1]:
list1=[1,2,3,4]

In [2]:
type(list1)

list

In [3]:
list2=['Apple','Ball','Bat']
list2

['Apple', 'Ball', 'Bat']

In [4]:
list3=[1,2,3,4,'Apple','Ball','Bat','10.5',10.5,10+20j]
list3

[1, 2, 3, 4, 'Apple', 'Ball', 'Bat', '10.5', 10.5, (10+20j)]

In [5]:
list4=[1,2,3,4,['A','B','C']]
list4

[1, 2, 3, 4, ['A', 'B', 'C']]

In [6]:
list5=[100,100,100]
list5

[100, 100, 100]

- list values are in square brackets seperated by comma

- list can have any type of values, heterogeneous type can be allowed

- list inside list also possible

- list can have dupilcates

In [7]:
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4]
['Apple', 'Ball', 'Bat']
[1, 2, 3, 4, 'Apple', 'Ball', 'Bat', '10.5', 10.5, (10+20j)]

$max$

In [8]:
max(list1)

4

In [9]:
max(list2)

'Bat'

In [10]:
max(list3) 
# it will give an error
# we are comparing different data types

TypeError: '>' not supported between instances of 'str' and 'int'

In [11]:
max(list4)

TypeError: '>' not supported between instances of 'list' and 'int'

In [13]:
list4  # [int,int,int,int,list]

[1, 2, 3, 4, ['A', 'B', 'C']]

In [12]:
max(list5)

100

$Min$

In [14]:
min(list1)

1

In [15]:
min(list2)

'Apple'

In [16]:
min(list5)

100

In [17]:
list1+list2

[1, 2, 3, 4, 'Apple', 'Ball', 'Bat']

In [18]:
list1=[1,2,3,4]
list2=[11,22,33,44]
list1+list2  # 1+11, 2+22,3+33,4+44 --- > this will not happend

[1, 2, 3, 4, 11, 22, 33, 44]

In [19]:
list2+list1

[11, 22, 33, 44, 1, 2, 3, 4]

In [ ]:
list1*list2  # error
list1/list2  # error
list1-list2  # error

# same as strings concept

$length$:

In [29]:
print(list1)
len(list1)

[1, 2, 3, 4]

4

In [31]:
print(list3)
len(list3)

[1, 2, 3, 4, 'Apple', 'Ball', 'Bat', '10.5', 10.5, (10+20j)]

10

$index$:

In [24]:
list2

[11, 22, 33, 44]

In [26]:
# 11 22 33 44
# 0  1  2  3
print(list2[0])
print(list2[1])
print(list2[2])
print(list2[3])

11
22
33
44

In [27]:
str1='python'
for i in range(0,len(str1)):
    print(str1[i],end=' ')

p y t h o n

In [35]:
# print the list2 values using for loop
print(len(list2)) #4
for i in range(0,len(list2)): # range(0,4) start=0 dir=post gap=1 last=4-1=3
    print(i,list2[i])

4
0 11
1 22
2 33
3 44

$in$

In [36]:
print(list2)

[11, 22, 33, 44]

In [38]:
11 in list2
22 in list2
33 in list2
44 in list2

# i in list2

True

In [39]:
list2=[11,22,33,44]
for i in list2:
    print(i,end=" ")

11 22 33 44

In [40]:
list4
# retrive the index of 'A'

[1, 2, 3, 4, ['A', 'B', 'C']]

In [56]:
list12=[1,2,3,4,'A']
# what is the index of 'A'?
list12[4]

'A'

In [ ]:
[1, 2, 3, 4, ['A', 'B', 'C']]
 0  1  2  3  -------4------

In [46]:
new_list=list4[4]
new_list[0]

'A'

In [49]:
list4[4][0]  # new_list[0]

'A'

In [50]:
list4[4][1]

'B'

In [53]:
len(list4[4])

3

In [55]:
list11=[1,2,3,4,[[[[['A','B',[100]]]]]]]
list11

[1, 2, 3, 4, [[[[['A', 'B', [100]]]]]]]

In [ ]:
# retrive the index of 100

In [58]:
list11[4] # [100,200]

[[[[['A', 'B', [100]]]]]]

In [ ]:
[50,[50]]  # [[50]]

In [ ]:
[50]  # 1
[[50]] # 1
[[[50]]]  #1

In [61]:
list1=[[[50]]]
list1[0][0][0]

50

In [62]:
list11=[1,2,3,4,[[[[['A','B',[100]]]]]]]
list11 
# how many values are there : 5---->0 1 2 3 4

[1, 2, 3, 4, [[[[['A', 'B', [100]]]]]]]

In [72]:
list11[4][0][0][0][0][2][0]

100

In [66]:
a=[[50,50]]
a[0][0]

50

In [ ]:
[1, 2, 3, 4, ['A', 'B', 'C']]

In [73]:
list22=['A','B','C',[100,200,[300,400,[500,600,[700]]]]]
# retrive the index of 700 
# 3 2 2 2 0

In [79]:
list22[3][2][2][2][0]

700

In [ ]:
# jsons
# list in list
# matrix
# numpy

$mutable$-$immutable$

In [80]:
list1=[1,200,300]
list1

[1, 200, 300]

In [81]:
# i want to change 1 to 100 by using index values
list1[0]

1

In [82]:
list1[0]=100

In [83]:
list1

[100, 200, 300]

In [84]:
list2=['A',100,'C']
list2[1]='B' # 100 --- > B 
list2

['A', 'B', 'C']

In [ ]:
list3=['HYd','Mum#ai','Chennai','Bengalu#ru']
# print the value in list which are having #
# 'Mumb$ai','Bengalu#ru']

# step-1: iterate the list3 values ======>for loop
# step-2: apply the condition if '#' is there in that values === > if

In [86]:
list1 = ['Hyd', 'Mumb#ai','Chennai','Surat']
for i in list1:
    if '#'in i:
        print(i)

Mumb#ai

In [87]:
'a' in 'pple a'

True

In [89]:
list1=[100,200,300,400,1,2,3,4]
# print the even values
# step-1: iertae through list
# step-2: if condition
for i in list1:
    if i%2==0:
        print(i,end=' ')

100 200 300 400 2 4

In [ ]:
list3=['HYd','Mum#ai','Chennai','Bengalu#ru','delhi']
# print the values whose length<=4

In [90]:
list1 = ['Hyd', 'Mumb#ai','Chennai','Surat']
count=0
for i in list1:
    if '#'in i:
        print(i)
        count+=1
        
print(count)

Mumb#ai
1

In [93]:
list1=[100,200,300,400,1,2,3,4]
count=0
for i in list1:
    if i%2==0:
        print(i,end=' ')
        count+=1
print("====================")
print(count)

100 200 300 400 2 4 ====================
6

In [ ]:
list3=['HYd','Mum#ai','Chennai','Bengalu#ru','delhi']
# print the values whose length<=4

$Methods$

In [94]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [95]:
dir([1,2,3])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$append$

In [96]:
list1=[]
list1

[]

In [97]:
list1.append(100)

In [98]:
list1

[100]

In [99]:
list1.append(200)
list1  #[100,200]

[100, 200]

In [101]:
list2=['A','B']
list2.append('C')  # shift + tab
list2.append('D') 
list2.append(100)
list2

['A', 'B', 'C', 'D', 100]

In [104]:
list3=['Hyd','Mumbai','Nagpur','delhi']
for i in list3:
    if len(i)<=3:   # len('hyd')  ==== >  number
        print(i)

Hyd

In [105]:
# will save results
list1 = ['Hyd', 'Mumb#ai','Chennai','Surat']
res=[]
for i in list1:
    if '#'in i:
        res.append(i)
        
print(res)

['Mumb#ai']

In [106]:
list1=[100,200,300,400,1,2,3,4]
res1=[]
for i in list1:
    if i%2==0:
        res1.append(i)

res1

[100, 200, 300, 400, 2, 4]

In [108]:
list3=['Hyd','Mumbai','Nagpur','delhi']
res3=[]
for i in list3:
    if len(i)<=3:   # len('hyd')  ==== >  number
        res3.append(i)
res3

['Hyd']