In [ ]:
- certification

- tuples

- assignment on strings


- assignment on list

In [ ]:
string=''  or ""
list1= []
tuple1=()
dictionary = {}

In [1]:
list1=['Ram','Sita','Laxman']
list2=[25,22,20]

# Ram age is 25
# sita age is 22
# laxman age is 20

In [3]:
for name,age in zip(list1,list2):
    print("{} age is {}".format(name,age))

Ram age is 25
Sita age is 22
Laxman age is 20

dict1={"Ram":25,"Sita":22,"Laxman":20}

- represent in curly braces

- key-value pair

- keys: Ram,Sita and Laxman
    
- values: 25,22 and 20

In [9]:
dict1={"A":65,"B":66,"C":67}
dict2={"Apple":"Fruite","Cat":"animal"}
dict3={"items":["sofa","mobile","tv"]}
dict4={"A":65,
       "items":["radio"],
       65:"A",
       "A":75}

In [10]:
dict4

{'A': 75, 'items': ['radio'], 65: 'A'}

- dictionary with key:value pair

- key can be string or a number

- value can be string ,number , list ,tuple,dict

- duplicates are not allowed

- latest value of a key will be updated

- type

- len

- max

- min

In [11]:
dict1={"A":65,
       "B":66,
       "C":67}
type(dict1)

dict

In [ ]:
int   float  str  list  dict  tuple

In [12]:
len(dict1)

3

In [14]:
dict1={"Name":["Ram","Sita","Laxman"],
      "Age":[25,22,20]}

import pandas as pd   # EDA 
pd.DataFrame(dict1)

     Name  Age
0     Ram   25
1    Sita   22
2  Laxman   20

In [15]:
dict1={"A":65,
       "B":66,
       "C":67}


min(dict1)

'A'

In [16]:
dict2={"Name":["Ram","Sita","Laxman"],
      "Age":[25,22,20]}
min(dict2)

'Age'

In [24]:
dict3={97:"b",
      "Age":"a"}
min(dict3)
# Compare only keys 
# 97 : int
# "Age": str

# int and str not able to compare

TypeError: '<' not supported between instances of 'str' and 'int'

In [25]:
dict1={"A":65,"B":66,"C":67}
dict2={"a":97,"b":98,"c":99}
dict1+dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

- dictionary with key:value pair

- key can be string or a number

- value can be string ,number , list ,tuple,dict

- duplicates are not allowed

- latest value of a key will be updated

- min and max on keys only

- dictionary concatenation not possible

In [ ]:
str1="python"
list1=["p","y","t"]
tuple1=("p","y","t")
dict1={key:value}

$index$

In [26]:
dict1={"A":65,"B":66,"C":67}
dict1[0]

KeyError: 0

**we need to retrive the value by using corresponding key only**

In [28]:
dict1={"A":65,"B":66,"C":67}
dict1['B']

66

In [33]:
dict1={"A":65,"B":[66,96,106],"C":67}
l1=dict1['B']
l1[0]

66

In [32]:
l1[0]

66

In [35]:
dict1={"A":65,"B":[66,96,106],"C":67}
dict1['B'][1]

# step-1: you need retrive the keys first
# step-2: if the value is list ==== > apply list operations
#         if the value is string === > string operations

96

In [37]:
dict1={"A":65,
       "B":{"ascii":98},
       "C":67}

# retrive 98
# step-1: first retrive B value
dict1["B"]["ascii"]

98

In [38]:
dict1={"employee": { "name":"sonoo","salary":56000,"married":True}} 
dict1["employee"]["salary"]

56000

In [39]:
dict1={"A":65,"B":66,"C":67}
for i in dict1:
    print(i)
    
# here i means only keys

A
B
C

In [40]:
dict1={"A":65,"B":66,"C":67}
for i in dict1:
    print(dict1[i])   # dict1["A"]   dict1["B"]   dict1["A"]
    
# how to retrive values using keys

65
66
67

In [42]:
dict1={}
dict1

{}

In [43]:
dict1["Apple"]="fruite"
dict1

{'Apple': 'fruite'}

In [47]:
dict2={}
dict2["A"]=100
dict2["B"]=200
dict2["C"]=300
dict2

{'A': 100, 'B': 200, 'C': 300}

In [48]:
dict2["A"]=1000
dict2

{'A': 1000, 'B': 200, 'C': 300}

- strings and tuple immutable

- list and dictionary are mutable

In [ ]:
#strings   list   tuple   dictionary
#imm        m      imm     m

In [ ]:
# ask the user enter 5 numbers
# perform even and odd operations
# your output
# 20  22

# {"even":[20,22],"odd":[19,18,17]}

# step-1: take a empty dictionary
# step-2: two empty lists ,even_list,odd_list
# step-3: num=ask the user how many numbers you wants to take
# step-4: for i in range(num)
# step-5: ask the user enter a value
# step-6: if condition even
# step-7: append evenlist
# step-8: the update the dictionary
# step-9: else condition
# step-10: step-7 and 8

In [49]:
dict1={}
even_list,odd_list=[],[]
num=eval(input("how many you want to enter:"))
for i in range(num):
    val=eval(input("enter the number:"))
    if val%2==0:
        even_list.append(val)
        dict1["even"]=even_list
        
    else:
        odd_list.append(val)
        dict1["odd"]=odd_list
        
dict1

how many you want to enter:5
enter the number:1
enter the number:2
enter the number:3
enter the number:4
enter the number:5

{'odd': [1, 3, 5], 'even': [2, 4]}

In [50]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$items$-$values$-$keys$

In [51]:
dict1={"A":65,"B":66,"C":67}
dict1

{'A': 65, 'B': 66, 'C': 67}

In [52]:
dict1.items()

dict_items([('A', 65), ('B', 66), ('C', 67)])

In [53]:
dict1.values()

dict_values([65, 66, 67])

In [54]:
dict1.keys()

dict_keys(['A', 'B', 'C'])

In [55]:
type(dict1.items())

dict_items

In [56]:
dict1.items()[0]

TypeError: 'dict_items' object is not subscriptable

In [57]:
items=list(dict1.items())
items

[('A', 65), ('B', 66), ('C', 67)]

In [61]:
dict1={"A":65,"B":66,"C":67}
dict1.items()  # type of dict_items
# we are converting dict_items to list type
items=list(dict1.items())
print(items)
print(type(items))

[('A', 65), ('B', 66), ('C', 67)]
<class 'list'>

In [65]:
for i in items:
    print(i)

('A', 65)
('B', 66)
('C', 67)

In [62]:
a,b=20,30
print(a)
print(b)

20
30

In [63]:
a=20,30
a

(20, 30)

In [66]:
for i in items:
    print(i)
    
    
for i,j in items:
    print(i,j)

A 65
B 66
C 67

In [ ]:
dict1={"A":65,"B":66,"C":67}
dict1.items()  # type of dict_items                          dict_items([('A', 65), ('B', 66), ('C', 67)])
# we are converting dict_items to list type
items=list(dict1.items())
print(items)                                         #      [('A', 65), ('B', 66), ('C', 67)]
print(type(items))

for i in items:
    print(i)                                       # ('A', 65), ('B', 66), ('C', 67)
    
for i,j in items:
    print(i,j)                                    # i=A j=65   i=B  j=66    i=C  j=67

In [68]:
for i,j in dict1.items():
    print(i,j)

A 65
B 66
C 67

In [70]:
dict1={"Ram":25,"Sita":22,"Laxman":20}
# Ram age is 25
for i,j in dict1.items():
    print("{} age is {}".format(i,j))

Ram age is 25
Sita age is 22
Laxman age is 20

In [72]:
dict1={"Ram":25,"Sita":22,"Laxman":20}
# Ram age is 25
for i in dict1:
    print(i,dict1[i])  # i= Ram Sita  Laxman dict1['ram']=25

Ram 25
Sita 22
Laxman 20