In [ ]:
- certification

- tuples

- assignment on strings


- assignment on list

In [ ]:
string=''  or ""
list1= []
tuple1=()
dictionary = {}

In [1]:
list1=['Ram','Sita','Laxman']
list2=[25,22,20]

# Ram age is 25
# sita age is 22
# laxman age is 20

In [3]:
for name,age in zip(list1,list2):
    print("{} age is {}".format(name,age))

Ram age is 25
Sita age is 22
Laxman age is 20

dict1={"Ram":25,"Sita":22,"Laxman":20}

- represent in curly braces

- key-value pair

- keys: Ram,Sita and Laxman
    
- values: 25,22 and 20

In [9]:
dict1={"A":65,"B":66,"C":67}
dict2={"Apple":"Fruite","Cat":"animal"}
dict3={"items":["sofa","mobile","tv"]}
dict4={"A":65,
       "items":["radio"],
       65:"A",
       "A":75}

In [10]:
dict4

{'A': 75, 'items': ['radio'], 65: 'A'}

- dictionary with key:value pair

- key can be string or a number

- value can be string ,number , list ,tuple,dict

- duplicates are not allowed

- latest value of a key will be updated

- type

- len

- max

- min

In [11]:
dict1={"A":65,
       "B":66,
       "C":67}
type(dict1)

dict

In [ ]:
int   float  str  list  dict  tuple

In [12]:
len(dict1)

3

In [14]:
dict1={"Name":["Ram","Sita","Laxman"],
      "Age":[25,22,20]}

import pandas as pd   # EDA 
pd.DataFrame(dict1)

     Name  Age
0     Ram   25
1    Sita   22
2  Laxman   20

In [15]:
dict1={"A":65,
       "B":66,
       "C":67}


min(dict1)

'A'

In [16]:
dict2={"Name":["Ram","Sita","Laxman"],
      "Age":[25,22,20]}
min(dict2)

'Age'

In [24]:
dict3={97:"b",
      "Age":"a"}
min(dict3)
# Compare only keys 
# 97 : int
# "Age": str

# int and str not able to compare

TypeError: '<' not supported between instances of 'str' and 'int'

In [25]:
dict1={"A":65,"B":66,"C":67}
dict2={"a":97,"b":98,"c":99}
dict1+dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

- dictionary with key:value pair

- key can be string or a number

- value can be string ,number , list ,tuple,dict

- duplicates are not allowed

- latest value of a key will be updated

- min and max on keys only

- dictionary concatenation not possible

In [ ]:
str1="python"
list1=["p","y","t"]
tuple1=("p","y","t")
dict1={key:value}

$index$

In [26]:
dict1={"A":65,"B":66,"C":67}
dict1[0]

KeyError: 0

**we need to retrive the value by using corresponding key only**

In [28]:
dict1={"A":65,"B":66,"C":67}
dict1['B']

66

In [33]:
dict1={"A":65,"B":[66,96,106],"C":67}
l1=dict1['B']
l1[0]

66

In [32]:
l1[0]

66

In [35]:
dict1={"A":65,"B":[66,96,106],"C":67}
dict1['B'][1]

# step-1: you need retrive the keys first
# step-2: if the value is list ==== > apply list operations
#         if the value is string === > string operations

96

In [37]:
dict1={"A":65,
       "B":{"ascii":98},
       "C":67}

# retrive 98
# step-1: first retrive B value
dict1["B"]["ascii"]

98

In [38]:
dict1={"employee": { "name":"sonoo","salary":56000,"married":True}} 
dict1["employee"]["salary"]

56000

In [39]:
dict1={"A":65,"B":66,"C":67}
for i in dict1:
    print(i)
    
# here i means only keys

A
B
C

In [40]:
dict1={"A":65,"B":66,"C":67}
for i in dict1:
    print(dict1[i])   # dict1["A"]   dict1["B"]   dict1["A"]
    
# how to retrive values using keys

65
66
67

In [42]:
dict1={}
dict1

{}

In [43]:
dict1["Apple"]="fruite"
dict1

{'Apple': 'fruite'}

In [47]:
dict2={}
dict2["A"]=100
dict2["B"]=200
dict2["C"]=300
dict2

{'A': 100, 'B': 200, 'C': 300}

In [48]:
dict2["A"]=1000
dict2

{'A': 1000, 'B': 200, 'C': 300}

- strings and tuple immutable

- list and dictionary are mutable

In [ ]:
#strings   list   tuple   dictionary
#imm        m      imm     m

In [ ]:
# ask the user enter 5 numbers
# perform even and odd operations
# your output
# 20  22

# {"even":[20,22],"odd":[19,18,17]}

# step-1: take a empty dictionary
# step-2: two empty lists ,even_list,odd_list
# step-3: num=ask the user how many numbers you wants to take
# step-4: for i in range(num)
# step-5: ask the user enter a value
# step-6: if condition even
# step-7: append evenlist
# step-8: the update the dictionary
# step-9: else condition
# step-10: step-7 and 8

In [49]:
dict1={}
even_list,odd_list=[],[]
num=eval(input("how many you want to enter:"))
for i in range(num):
    val=eval(input("enter the number:"))
    if val%2==0:
        even_list.append(val)
        dict1["even"]=even_list
        
    else:
        odd_list.append(val)
        dict1["odd"]=odd_list
        
dict1

how many you want to enter:5
enter the number:1
enter the number:2
enter the number:3
enter the number:4
enter the number:5

{'odd': [1, 3, 5], 'even': [2, 4]}

In [50]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$items$-$values$-$keys$

In [51]:
dict1={"A":65,"B":66,"C":67}
dict1

{'A': 65, 'B': 66, 'C': 67}

In [52]:
dict1.items()

dict_items([('A', 65), ('B', 66), ('C', 67)])

In [53]:
dict1.values()

dict_values([65, 66, 67])

In [54]:
dict1.keys()

dict_keys(['A', 'B', 'C'])

In [55]:
type(dict1.items())

dict_items

In [56]:
dict1.items()[0]

TypeError: 'dict_items' object is not subscriptable

In [57]:
items=list(dict1.items())
items

[('A', 65), ('B', 66), ('C', 67)]

In [61]:
dict1={"A":65,"B":66,"C":67}
dict1.items()  # type of dict_items
# we are converting dict_items to list type
items=list(dict1.items())
print(items)
print(type(items))

[('A', 65), ('B', 66), ('C', 67)]
<class 'list'>

In [65]:
for i in items:
    print(i)

('A', 65)
('B', 66)
('C', 67)

In [62]:
a,b=20,30
print(a)
print(b)

20
30

In [63]:
a=20,30
a

(20, 30)

In [66]:
for i in items:
    print(i)
    
    
for i,j in items:
    print(i,j)

A 65
B 66
C 67

In [ ]:
dict1={"A":65,"B":66,"C":67}
dict1.items()  # type of dict_items                          dict_items([('A', 65), ('B', 66), ('C', 67)])
# we are converting dict_items to list type
items=list(dict1.items())
print(items)                                         #      [('A', 65), ('B', 66), ('C', 67)]
print(type(items))

for i in items:
    print(i)                                       # ('A', 65), ('B', 66), ('C', 67)
    
for i,j in items:
    print(i,j)                                    # i=A j=65   i=B  j=66    i=C  j=67

In [68]:
for i,j in dict1.items():
    print(i,j)

A 65
B 66
C 67

In [70]:
dict1={"Ram":25,"Sita":22,"Laxman":20}
# Ram age is 25
for i,j in dict1.items():
    print("{} age is {}".format(i,j))

Ram age is 25
Sita age is 22
Laxman age is 20

In [72]:
dict1={"Ram":25,"Sita":22,"Laxman":20}
# Ram age is 25
for i in dict1:
    print(i,dict1[i])  # i= Ram Sita  Laxman dict1['ram']=25

Ram 25
Sita 22
Laxman 20

In [2]:
dict1={"Ram":25,"Sita":22,"Laxman":20}
dict1

{'Ram': 25, 'Sita': 22, 'Laxman': 20}

In [3]:
dir(dict1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [5]:
# take an another dictionary dict2
# fisrt copy of dict1 items in dict2
# then clear the items of dict1
dict2=dict1.copy()
print(dict2)
dict1.clear()
print(dict1)

{'Ram': 25, 'Sita': 22, 'Laxman': 20}
{}

$pop$-$popitem$-$del$

In [6]:
dict2

{'Ram': 25, 'Sita': 22, 'Laxman': 20}

In [7]:
#pop
dict2.pop('Laxman')
# input as a key which you want to remove/delete
# output is the value of corresponding which

20

In [8]:
dict2

{'Ram': 25, 'Sita': 22}

In [9]:
dict2['Krsihna']=30
dict2['Ramesh']=35
dict2['Suresh']=40

In [10]:
dict2

{'Ram': 25, 'Sita': 22, 'Krsihna': 30, 'Ramesh': 35, 'Suresh': 40}

In [11]:
dict2.popitem()

('Suresh', 40)

In [13]:
dict2.popitem()

('Ramesh', 35)

In [14]:
dict2

{'Ram': 25, 'Sita': 22, 'Krsihna': 30}

In [16]:
del dict2['Krsihna']  # pop

In [17]:
dict2

{'Ram': 25, 'Sita': 22}

In [ ]:
#items-values-keys
#pop-popitem-del

In [ ]:
# every one try what get method will do

$get$

In [18]:
dict2['Krsihna']=30
dict2['Ramesh']=35
dict2['Suresh']=40

In [19]:
dict2

{'Ram': 25, 'Sita': 22, 'Krsihna': 30, 'Ramesh': 35, 'Suresh': 40}

In [21]:
dict2.get('Sita')

22

In [24]:
dict2.get('Sita',26)  # you will not get error

22

In [25]:
dict2['Sita']

22

$set-as-default$

In [26]:
dict2

{'Ram': 25, 'Sita': 22, 'Krsihna': 30, 'Ramesh': 35, 'Suresh': 40}

In [27]:
dict2['Laxman']=26
dict2

{'Ram': 25,
 'Sita': 22,
 'Krsihna': 30,
 'Ramesh': 35,
 'Suresh': 40,
 'Laxman': 26}

In [28]:
dict2.setdefault('Bunny')
dict2

{'Ram': 25,
 'Sita': 22,
 'Krsihna': 30,
 'Ramesh': 35,
 'Suresh': 40,
 'Laxman': 26,
 'Bunny': None}

In [29]:
dict2.setdefault("chinni",35)
dict2

{'Ram': 25,
 'Sita': 22,
 'Krsihna': 30,
 'Ramesh': 35,
 'Suresh': 40,
 'Laxman': 26,
 'Bunny': None,
 'chinni': 35}

In [30]:
dict2.setdefault('Ram',50)
dict2

# previous key-value pairs will not modify
# if a key is not there, it will insert that key with provided value
# if not provide the value , the default value is None

{'Ram': 25,
 'Sita': 22,
 'Krsihna': 30,
 'Ramesh': 35,
 'Suresh': 40,
 'Laxman': 26,
 'Bunny': None,
 'chinni': 35}

In [31]:
dict2['Bunny']=10
dict2

{'Ram': 25,
 'Sita': 22,
 'Krsihna': 30,
 'Ramesh': 35,
 'Suresh': 40,
 'Laxman': 26,
 'Bunny': 10,
 'chinni': 35}

In [ ]:
dict2.setdefault('Bunny') # ===== Bunny: None
dict2.setdefault('chinni',35) # ==== chinni: 35
dict2.setdefault('Bunny',22) # alreday attach with None  Bunny: None
dict2['Bunny']=22      # Bunny: 22

$fromkeys$

In [32]:
dict2.setdefault("bittu")
dict2

{'Ram': 25,
 'Sita': 22,
 'Krsihna': 30,
 'Ramesh': 35,
 'Suresh': 40,
 'Laxman': 26,
 'Bunny': 10,
 'chinni': 35,
 'bittu': None}

In [34]:
dict2.fromkeys('bittu',25)

{'b': 25, 'i': 25, 't': 25, 'u': 25}

In [36]:
dict3={}
list1=[2,4,6,8]
dict3.fromkeys(list1,'even')

{2: 'even', 4: 'even', 6: 'even', 8: 'even'}

In [37]:
tuple1=('apple','banana','cherry')
dict4={}
dict4.fromkeys(tuple1,'fruits')

# providing value to the some list/tuple items
# list can be iterable
# tuple can be iterable
# string also can be iterable

{'apple': 'fruits', 'banana': 'fruits', 'cherry': 'fruits'}

In [39]:
list1=[1,2,3,4]
# iterate through loop and find the square of the number
for i in list1:
    print(i*i)

1
4
9
16

In [40]:
tuple1=('even')
dict4={}
dict4.fromkeys(tuple1,[2,4,6,8])

{'e': [2, 4, 6, 8], 'v': [2, 4, 6, 8], 'n': [2, 4, 6, 8]}

In [41]:
for i in tuple1:
    print(i)

e
v
e
n

$update$

In [42]:
list1=[1,2,3]
list2=['a','b','c']
list1.extend(list2)
list1

[1, 2, 3, 'a', 'b', 'c']

In [43]:
dict1={"A":65,"B":66,"C":67}
dict2={"a":97,"b":98,"c":99}
dict1.update(dict2)
dict1

{'A': 65, 'B': 66, 'C': 67, 'a': 97, 'b': 98, 'c': 99}

In [48]:
dict1={}
for i in range(1,20):
    if i%2==0:
        dict1[i]='even'  
               
# step-1: i=1     False
# step-2:  i=2    True    dict1[1]='even'     {1:'even'}

dict1

{2: 'even',
 4: 'even',
 6: 'even',
 8: 'even',
 10: 'even',
 12: 'even',
 14: 'even',
 16: 'even',
 18: 'even'}

In [58]:
dict1={}
for i in range(1,20):
    if i%2==0:
        dict1.update({i:'even'})  
 
dict1

{2: 'even',
 4: 'even',
 6: 'even',
 8: 'even',
 10: 'even',
 12: 'even',
 14: 'even',
 16: 'even',
 18: 'even'}

In [54]:
dict1={2: 'even'}
dict2={4: 'even'}
dict3={6: 'even'}

In [55]:
dict1.update(dict2)
dict1

{2: 'even', 4: 'even'}

In [56]:
dict1.update(dict3)

In [57]:
dict1

{2: 'even', 4: 'even', 6: 'even'}

In [ ]:
dict1.update(dict2)
dict1.update(dict3)
dict1.update(dict4)
dict1.update({key:vaue})

'even'

In [ ]:
dict1={}
even_list,odd_list=[],[]
num=eval(input("how many you want to enter:"))
for i in range(num):
    val=eval(input("enter the number:"))
    if val%2==0:
        even_list.append(val)
        dict1["even"]=even_list
        
    else:
        odd_list.append(val)
        dict1["odd"]=odd_list
        
dict1

In [ ]:
dict1={}
for i in range(1,20):
    if i%2==0:
        dict1.update({i:'even'})  
 
dict1


{i:'even' for i in range(1,20) if i%2==0}

#=============================================================
list1=[]
for i in range(1,20):
    if i%2==0:
        list1.append(i)
        
[i for i in range(1,20) if i%2==0]

In [59]:
{i:'even' for i in range(1,20) if i%2==0}

{2: 'even',
 4: 'even',
 6: 'even',
 8: 'even',
 10: 'even',
 12: 'even',
 14: 'even',
 16: 'even',
 18: 'even'}

$word$-$frequency$

In [ ]:
string="can can you canner can as you can able to can as you"

# output: {'can':5,'you':3,"canner":1}

# step-1: empty dictionary in the starting
# step-2: split the sentence   outpu: list of values =['can','can','you']
# step-3: itertae through each word : for i in list1
# step-4: count method in list  ===== > number
# step-5: create the dictionary with word and number

In [70]:
string="can can you canner can as you can able to can as you"
dict3={}
count=0
list1=string.split()
for i in list1:
    val1=list1.count(i) 
    dict3[i]=val1
    
    
# step-1:  i='can'    list1.count('can')=5
# step-2:  i='can'    list1.count('can')=5
dict3

# hacker rank
# read the twice

{'can': 5, 'you': 3, 'canner': 1, 'as': 2, 'able': 1, 'to': 1}

In [66]:
l1=['can', 'can', 'you', 'canner', 'can', 'as', 'you', 'can', 'able', 'to', 'can', 'as', 'you']
l1.count('can')

5

In [67]:
dict4={}
dict4[i]=val1
dict4

{'can': 5}

In [72]:
min((1,2,3))

1

**important**